* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Запрещает выделение текста */
}

body {
    overflow: hidden;
    background: url('images/background.png') repeat-y center top;
    background-size: cover;
}

canvas {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* Контейнер кнопок */
#controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

/* Кнопки управления */
.control-button {
    width: 80px;
    height: 80px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    cursor: pointer;
}

/* Убираем эффект приближения на мобильных устройствах */
html, body {
    touch-action: manipulation;
}
